footer{
  background-color: white;
  display: flex;
  justify-content: space-between;
  p{span{}}
  div{
    align-self: center;
    button{
      color: #9E9E9E;
      border: none;
      background-color: white;
      &:hover{
        border: 1px solid #F6EFEF;
      }
    }
  }
  button{
    font-family: $cool;
    color: #9E9E9E;
  }
}
