footer{
  background-color: white;
  display: flex;
  justify-content: space-between;
  div{
    align-self: center;
    button{
      color: $darkGrey;
      border: none;
      background-color: white;
      &:hover{
        border: 1px solid $lightRed;
      }
    }
  }
  button{
    font-family: $cool;
    color: $darkGrey;
  }
}
.clear{
  border: none;
  background-color: white;
  border-radius: 5%;
}
.clear:hover{
  border: 1px solid $lightRed;
}
